# Using npmmirror.com instead of taobao.org to avoid extra redirects in lockfile
# see https://github.com/pnpm/pnpm/issues/5769#issuecomment-1345283717
registry=https://registry.npmmirror.com

# PNPM
strict-peer-dependencies=false
save-workspace-protocol=rolling
