@import (once) '~@antv/xflow-core/es/style/themes/index.less';
@import (once) '~@antv/x6-react-components/es/menu/style/index';

.@{xflow-prefix}-menu-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .@{x6-prefix}-dropdown {
    overflow: visible;
    pointer-events: all;
  }

  .@{xflow-prefix}-context-menu-anchor {
    position: absolute;
    z-index: 1;
    background-color: #fff;
  }
}
