.x6-node-selected rect {
  stroke: #ea9e07;
  stroke-width: 2;
}

.x6-edge-selected {
  path:nth-child(2) {
    stroke: #ea9e07;
    stroke-width: 1.5px;
  }
}

@keyframes animated-line {
  to {
    stroke-dashoffset: -1000;
  }
}
